---
import Layout from "../general/layout.astro";
import Behandlings from "../components/Behandlings.astro";
import Knap from "../components/Knap.astro";
import Scrollprogressbar from "../components/Scrollprogressbar.astro";
const data = await fetch(
  "https://jnfsonguvexswcioudjt.supabase.co/rest/v1/behandlinger",
  {
    method: "GET",
    headers: {
      apikey:
        "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImpuZnNvbmd1dmV4c3djaW91ZGp0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTU3NjYyMjksImV4cCI6MjAzMTM0MjIyOX0.Z02awUWrz1wRXwd_Ybyt7-aHDrrAk2vnohh-uoBD2mQ",
    },
  }
).then((res) => res.json());

const Type = data.filter((behandling) => behandling.kategori == "area");
const Area = data.filter((behandling) => behandling.kategori == "type");
---

<Layout>
  <Scrollprogressbar />
  <section>
    <div class="localmenu1">
      <h2>Behandlingsområder</h2>
      <article class="submenu">
        <a href="#angst">Angst</a>
        <a href="#stress">Stress</a>
        <a href="#s_sensitiv">Særligt Sensitiv</a>
        <a href="#spiseforstyrrelse">Spiseforstyrrelse</a>
      </article>
    </div>
    <a id="arrow" href="#"><img src="/svg/arrowup.svg" alt="pil op" /></a>
    <article class="indhold">
      {
        Type.map((data) => {
          return <Behandlings indhold={data} />;
        })
      }
    </article>
  </section>
  <section>
    <div class="localmenu2">
      <h2>Behandlingstyper</h2>
      <article class="submenu">
        <a href="#online">Online</a>
        <a href="#walk_&_talk">Walk & Talk</a>
        <a href="#samtale">Samtale</a>
      </article>
    </div>
    <article class="indhold">
      {
        Area.map((data) => {
          return <Behandlings indhold={data} />;
        })
      }
    </article>
  </section>
  <section id="kontakt">
    <p>
      Hvis du føler, mine tilbud kan hjælpe dig, så tøv ikke med at booke en
      tid!
    </p>
    <Knap title="Book tid" link="priserkontakt.html" />
  </section>
</Layout>

<style>
  #arrow {
    position: fixed;
    right: 20px; /* Distance from the right edge of the viewport */
    bottom: 20px; /* Distance from the bottom edge of the viewport */
    z-index: 1000; /* Ensure it appears above other elements */
    cursor: pointer;
  }
  h2 {
    text-align: center;
    padding-bottom: 40px;
  }
  a {
    color: var(--Pesto950);
    text-align: center;
    font-family: "General Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
    text-decoration: none;
    width: fit-content;
  }
  .indhold {
    padding: 0 220px;
    margin-bottom: 70px;
  }
  .localmenu1 {
    background-color: var(--pesto300);
    padding: 70px 90px;
  }
  .submenu {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    column-gap: 20px;
  }
  .localmenu2 {
    background-color: var(--flamepea300);
    padding: 70px 90px;
  }
  .submenu {
    display: flex;
    flex-direction: row;

    justify-content: space-evenly;
  }
  #kontakt {
  }
  @media (max-width: 800px) {
    .indhold {
      padding: 0 120px;
    }
  }
  @media (max-width: 450px) {
    a {
      color: var(--Pesto950);
      text-align: center;
      font-family: "General Sans";
      font-size: 20px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      margin-bottom: 5px;
    }
    .indhold {
      padding: 0 70px;
    }
    .localmenu1,
    .localmenu2 {
      padding: 70px;
    }
    .submenu {
      display: flex;
      flex-direction: column;
    }
    h2 {
      text-align: left;
    }
    #arrow img {
      width: 90%;
    }
  }
</style>
