---
import Layout from "../general/layout.astro";
import Indexintro from "../components/Indexintro.astro";
---

<Layout>
  <Indexintro />
  <h1>hej</h1>
  <h2>hej</h2>
  <h3>hej</h3>
  <p>hej</p>
</Layout>
