---
import Layout from "../general/layout.astro";
import Indexintro from "../components/Indexintro.astro";
import Tilbud from "../components/Tilbud.astro";
---

<Layout>
  <Indexintro />
  <Tilbud />
  <h1>Hey</h1>
  <h1>Hey</h1>
  <h1>Hey</h1>
  <h1>Hey</h1>
  <h1>Hey</h1>
</Layout>
