---
import Layout from "../general/layout.astro";
import Indexintro from "../components/Indexintro.astro";
import Tilbud from "../components/Tilbud.astro";
import Gro from "../components/Gro.astro";
import Omraader from "../components/Omraader.astro";
import Anmeldelser from "../components/Anmeldelser.astro";
---

<Layout>
  <Indexintro />
  <h1>hey?</h1>
  <Tilbud />
  <h1>Hey</h1>
  <h1>Hey</h1>
  <Omraader />
  <h1>Hey</h1>
  <h1>Hey</h1>
  <h1>Hey</h1>
  <Gro />
  <Anmeldelser />
</Layout>
