---
import Layout from "../general/layout.astro";
import Anmeldelser from "../components/Anmeldelser.astro";
---

<Layout>
  <h1>hej</h1>
  <h2>hej</h2>
  <h3>hej</h3>
  <p>hej</p>
  <Anmeldelser></Anmeldelser>
</Layout>


