---
import Layout from "../general/layout.astro";
import Behandlings from "../components/Behandlings.astro";
const data = await fetch(
  "https://jnfsonguvexswcioudjt.supabase.co/rest/v1/behandlinger",
  {
    method: "GET",
    headers: {
      apikey:
        "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImpuZnNvbmd1dmV4c3djaW91ZGp0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTU3NjYyMjksImV4cCI6MjAzMTM0MjIyOX0.Z02awUWrz1wRXwd_Ybyt7-aHDrrAk2vnohh-uoBD2mQ",
    },
  }
).then((res) => res.json());
---

<Layout>
  <section>
    <div class="localmenu1">
      <h2>Behandlingsområder</h2>
      <article>
        <a href="#">Angst</a>
        <a href="#">Stress</a>
        <a href="#">Særligt Sensitiv</a>
        <a href="#">Spiseforstyrrelse</a>
      </article>
    </div>
    {
      data.map((type) => {
        return <Behandlings data={type} />;
      })
    }
  </section>
  <section>
    <div class="localmenu2">
      <h2>Behandlingstyper</h2>
      <article>
        <a href="#">Online</a>
        <a href="#">Walk & Talk</a>
        <a href="#">Samtale</a>
      </article>
    </div>
    {
      data.map((type) => {
        return <Behandlings data={type} />;
      })
    }
  </section>
</Layout>

<style>
  h2 {
    text-align: center;
  }
  a {
    color: var(--Pesto950);
    text-align: center;
    font-family: "General Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
    text-decoration: none;
  }
  .localmenu1 {
    background-color: var(--pesto300);
  }
  .localmenu1 article {
    display: flex;
    flex-direction: row;

    justify-content: space-evenly;
  }
  .localmenu2 {
    background-color: var(--flamepea300);
  }
  .localmenu2 article {
    display: flex;
    flex-direction: row;

    justify-content: space-evenly;
  }
</style>
