---

---


<div class="box">
    <div class="indhold">
        <p>"Fantastisk oplevelse! Terapeuten er ekspert i særligt sensitive og stress. 
            Hendes walk and talk-sessioner var forfriskende, og online samtalerne var praktiske. Stærkt anbefalet!"
        </p> 
            <br> <br> <p> - Kvinde, 30 år</p>
    </div>
</div>

<style>

    .box {
        color: var(--flamepea300);
        width: 75%;
        justify-content: center;
    }

    .indhold {
        justify-content: center;
        text-align: center;
    }
    


</style>