---
import Behandlinger from "../pages/behandlinger.astro";
import Extra from "./extra.astro";
const { indhold } = Astro.props;
---

<section>
  <div class="localmenu1">
    <h2>Behandlingsområder</h2>
    <article>
      <a href="#">Angst</a>
      <a href="#">Stress</a>
      <a href="#">Særligt Sensitiv</a>
      <a href="#">Spiseforstyrrelse</a>
    </article>
  </div>
  {
    indhold.map((type) => {
      return <Extra data={Behandlinger} />;
    })
  }
</section>
<section>
  <div class="localmenu2">
    <h2>Behandlingstyper</h2>
    <article>
      <a href="#">Online</a>
      <a href="#">Walk & Talk</a>
      <a href="#">Samtale</a>
    </article>
  </div>
  {
    data.map((type) => {
      return <Behandlings data={form} />;
    })
  }
</section>
