---
const { indhold } = Astro.props;
---

<article id={indhold.slug}>
  <h3>{indhold.title}</h3>
  <p>
    {indhold.text}
  </p>
</article>

<style>
  article {
    margin-top: 50px;
  }
  h3 {
    text-transform: capitalize;
    padding-bottom: 15px;
    font-size: 24px;
  }
  p {
    column-count: 2;
    column-gap: 20px;
    font-size: 20px;
  }

  @media (max-width: 800px) {
    p {
      column-count: 1;
    }
  }
  @media (max-width: 450px) {
    p {
      column-count: 1;
    }
  }
</style>
