---

---

<div class="formular">
  <div>
    <h2>Kontakt</h2>
    <h4 class="book">
      For at booke en tid, kan du <br /> sende mig en anmodning her
    </h4>
  </div>
  <form name="contact" netlify>
    <input type="text" name="navn" placeholder="Navn" />
    <input type="email" name="email" placeholder="E-mail" />
    <input type="text" name="emne" placeholder="Emne" />
    <textarea name="besked" placeholder="Besked"></textarea>
    <button class="send_kontakt" type="submit">Send</button>
  </form>
  <div class="contact_info">
    <div class="contact_item">
      <img src="/svg/telefon.svg" alt="Phone" loading="lazy" />
      <span>+45 44 44 44 44</span>
    </div>
    <div class="contact_item">
      <img src="/svg/mail.svg" alt="Email" loading="lazy" />
      <span>pernille@mail.com</span>
    </div>
    <div class="contact_item">
      <img src="/svg/map.svg" alt="Location" loading="lazy" />
      <span>Aalborg & København</span>
    </div>
    <div class="contact_item">
      <img src="/svg/cvr.svg" alt="CVR" loading="lazy" />
      <span>CVR- nr: 404444</span>
    </div>
  </div>
</div>

<style>
  h2 {
    padding-bottom: 10px;
  }
  /* formular-------------------------------------------------- */
  .formular {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: var(--pesto300);
    margin-bottom: 15%;
    padding: 3.5% 15%;
    column-gap: 20px;
  }
  .book {
    font-weight: normal;
    grid-column: span 2;
    text-align: center;
    margin-right: 50%;
    margin-bottom: -4%;
  }
  form {
    display: flex;
    flex-direction: column;
    grid-column: 1;
    margin-top: 20px;
  }
  input,
  textarea {
    margin-bottom: 15px;
    padding: 10px;
    border: none;
    border-radius: 30px;
    background-color: var(--flamepea50);
    font-size: 16px;
    font-family: var(--secondaryfont);
    width: 85%;
  }
  textarea {
    resize: none;
    height: 100px;
    padding-top: 10px;
  }
  .send_kontakt {
    background-color: var(--flamepea50);
    font-weight: bold;
    cursor: pointer;
    width: 200px;
    height: 50px;
    border-radius: 30px;
    border: none;
    color: var(--pesto950);
    font-family: var(--primaryfont);
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    transition:
      transform 0.3s,
      background-color 0.3s;
    align-self: start;
  }
  .send_kontakt:hover {
    background-color: var(--cornflowerblue800);
    scale: 1.02;
    color: var(--flamepea50);
    cursor: pointer;
  }
  /* kontaktboks---------------------------------------------- */
  .contact_info {
    background-color: var(--flamepea50);
    padding: 10px;
    border-radius: 30px;
    text-align: left;
    display: flex;
    flex-direction: column;
    width: 60%;
    aspect-ratio: 1/1;
    gap: 10px;
    justify-content: space-evenly;
    justify-self: right;
  }
  .contact_item {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-left: 16px;
  }
  .contact_item img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--pesto300);
    padding: 5px;
  }
  .contact_item span {
    font-size: 16px;
  }
  @media (max-width: 800px) {
    .formular {
      display: flex;
      flex-direction: column;
    }
    .contact_info {
      width: 45%;
      align-self: center;
    }
    input,
    textarea {
      width: 75%;
      align-self: center;
    }
    h2,
    h4 {
      text-align: center;
    }
    form {
      margin-bottom: 50px;
    }
    .send_kontakt {
      align-self: center;
    }
  }
  /* Mobil */
  @media (max-width: 450px) {
    .formular {
      background-color: var(--pesto300);
      display: flex;
      flex-direction: column;
      margin-bottom: 20%;
      /* padding: 30px 70px; */
    }
    .contact_info {
      background-color: var(--flamepea50);
      padding: 10px;
      text-align: left;
      display: flex;
      flex-direction: column;
      gap: 10px;
      width: 70%;
    }
  }
</style>
