---
import Knap from "./Knap.astro";
---

<section>
  <div id="heading">
    <h2>Plads til at vokse og gro</h2>
    <p>
      Gennem terapi kan vi opdage nye lag af os selv og lære at håndtere
      udfordringer med styrke og visdom. Det er som at vande vores indre have,
      hvor vi ser vores personlige vækst og selvudvikling spire frem. Terapeuten
      fungerer som en vejledende gartner, der hjælper os med at fjerne ukrudt og
      pleje vores indre blomster.
    </p>
  </div>
  <img src="../img/vokseoggro.webp" alt="billede af en statue" loading="lazy" />
  <div id="knap">
    <Knap title="Læs mere" link="ommig.html" />
  </div>
</section>

<style>
  section {
    align-items: center;
    background-color: var(--pesto300);
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 100px;
    padding: 5% 12%;
    position: relative;
  }
  img {
    display: flex;
    grid-column: 2;
    grid-row: 1 / span 2;
    height: auto;
    width: 350px;
    justify-self: center;
  }
  #knap {
    display: flex;
  }
  @media (max-width: 800px) {
    section {
      display: grid;
      flex-direction: row;
      row-gap: 20px;
      padding-bottom: 80px;
    }
    img {
      height: auto;
      width: 250px;
    }
    h2 {
      padding-bottom: 12px;
    }
  }
  @media (max-width: 600px) {
    section {
      display: flex;
      flex-direction: column;
    }
  }
  @media (max-width: 450px) {
    img {
      height: auto;
      width: 200px;
    }
  }
</style>
