---

---


<header>
        <div class="logo">
            <a href="/">
                <img src="#" alt="Logo">
            </a>
        </div>
        <nav>
            <ul class="menu">
                <li><a href="projekter.html">OM MIG</a></li>
                <li><a href="ommig.html">OM MIG</a></li>
            </ul>
            <div class="burger">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>
        </nav>
    </header>

<header>
  <p>pernille grønhøj</p>
</header>

<style>
  p {
    color: var(--pesto950);
    font-family: "General Sans";
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
  }
</style>
