---

---
<header>
        <div class="logo">
            <a href="index"> 
              <p class= "logo"> Pernille Grønhøj</p>
            </a>
        </div>
        <nav>
            <ul class="menu">
                <li><a href="ommig">OM MIG</a></li>
                <li><a href="priserkontakt">PRISER/KONTAKT</a></li>
                <li><a href="behandlinger">BEHANDLINGER</a></li>
            </ul>
            <div class="burger">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>
        </nav>
    </header>

<style>

  p {
    color: var(--pesto950);
    font-family: "General Sans";
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
  }

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  /* background-color: #BDBFC0; */
}



.logo {
  color: var(--pesto950);
  font-family: "General Sans";
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
}

.logo a{
  text-decoration: none;
}

nav {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
li a{
  color: var(--Pesto950);
font-family: "General Sans";
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
}

.menu li {
  margin-right: 20px;
}

.menu li:last-child {
  margin-right: 0;
}

.menu a {
  display: block;
  padding: 10px;
  color: var(--pesto950);
  text-decoration: none;
  transition: color 0.3s;
  text-align: end;
  font-size: 1rem;
}

.menu a:hover {
  /* color: rgb(219, 142, 178); */
  
}

.burger {
  width: 30px;
  height: 20px;
  cursor: pointer;
}

.burger .line {
  width: 100%;
  height: 2px;
  background-color: var(--pesto950);
  margin-bottom: 5px;
  transition: 0.2s linear;
}
.burger {
  display: none;
}

/* Mobil */

@media screen and (max-width: 800px) {
  .menu {
    display: none;
  }
  .burger {
    display: block;
    /* margin-left: 165px; */
  }

  .logo {
  color: var(--pesto950);
  font-family: "General Sans";
  font-size: 0.6rem;
  font-style: normal;
  font-weight: 600;
  /* margin-left: -20px; */
  }

  .burger.active .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
    transition: 0.2s linear;
  }

  .burger.active .line:nth-child(2) {
    opacity: 0;
    transition: 0.15s linear;
  }

  .burger.active .line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
    transition: 0.2s linear;
  }

  nav.active .menu {
    display: block;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    z-index: 1;
  }

  nav.active .menu li {
    margin: 10px 20px;
  }

  nav.active .menu a {
    font-size: 14px;
  }
}


/* Tablet */


@media screen and (max-width: 1080px) {

  .menu {
    display: none;
  }
  .burger {
    display: block;
    /* margin-left: 200px; */
  }

  .logo {
  color: var(--pesto950);
  font-family: "General Sans";
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 600;
  /* margin-left: -20px; */
  }

  .burger.active .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
    transition: 0.2s linear;
  }

  .burger.active .line:nth-child(2) {
    opacity: 0;
    transition: 0.15s linear;
  }

  .burger.active .line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
    transition: 0.2s linear;
  }

  nav.active .menu {
    display: block;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    z-index: 1;
  }

  nav.active .menu li {
    margin: 10px 20px;
  }

  nav.active .menu a {
    font-size: 18px;
  }
}

 

}

</style>


<script>

const burger = document.querySelector(".burger");
const nav = document.querySelector("nav");
const menu = document.querySelector(".menu");
const links = document.querySelectorAll(".menu li a");

burger.addEventListener("click", () => {
  burger.classList.toggle("active");
  nav.classList.toggle("active");
});

links.forEach((link) => {
  link.addEventListener("click", () => {
    burger.classList.remove("active");
    nav.classList.remove("active");
  });
});

</script>
