---
import Knap from "./Knap.astro";
---

<section>
  <div id="heading">
    <h3>Psykoterapeut</h3>
    <h1>Pernille Grønhøj</h1>
  </div>
  <img src="../img/portraet6sorthvid.webp" alt="" />
  <div>
    <p>
      Som terapeut, der selv er særligt sensitiv, bringer jeg en unik forståelse
      og empati med til arbejdet med klienter, der oplever angst. Jeg tror på at
      skabe et rum præget af tryghed og støtte, hvor klienten kan føle sig set
      og hørt. I vores sessioner udforsker vi sammen de underliggende følelser
      og tanker, klienten har. Vi identificerer negative tankemønstre og
      arbejder på at erstatte dem med mere hensigtsmæssige og positive tanker.
    </p>
  </div>
  <div id="knapper">
    <Knap title="Læs mere" link="/ommig.html" />
    <Knap title="Book tid" link="/priserkontakt.html" />
  </div>
</section>

<style>
  section {
    background-color: var(--pesto300);
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    padding: 5% 10%;
    column-gap: 40px;
  }
  #heading {
    grid-column: 2;
  }
  img {
    width: 322px;
    height: auto;
    grid-column: 1;
    grid-row: 1 / span2;
  }
  #knapper {
    margin-top: 25px;
    margin-bottom: 10px;
    display: flex;
    gap: 30px;
  }

  h3 {
    font-family: var(--secondaryfont);
  }
  @media (max-width: 800px) {
    section {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto auto auto;
      padding: 20px;
      column-gap: 20px;

      /* Hvis vi skal ændre tilbage så stod dette nedanfor under denne section */
      /* padding: 20px 120px; 
      display: flex;
      flex-direction: column; */
    }

    img {
      width: 300px;
      height: auto;
    }

    /* #knapper{
      display: grid;
    } */
  }

  @media (max-width: 450px) {
    section {
      display: flex;
      flex-direction: column;
      padding: 20px 70px;
    }
    img {
      width: 300px;
      height: auto;
      align-self: center;
    }
  }
</style>
