---
import Knap from "./Knap.astro";
---

<section>
  <div id="heading">
    <h3>Psykoterapeut</h3>
    <h1>Pernille Grønhøj</h1>
  </div>
  <img src="../img/portraet6sorthvid.webp" alt="" />
  <div>
    <p>
      Som terapeut, der selv er særligt sensitiv, bringer jeg en unik forståelse
      og empati med til arbejdet med klienter, der oplever angst. Jeg tror på at
      skabe et rum præget af tryghed og støtte, hvor klienten kan føle sig set
      og hørt. I vores sessioner udforsker vi sammen de underliggende følelser
      og tanker, klienten har. Vi identificerer negative tankemønstre og
      arbejder på at erstatte dem med mere hensigtsmæssige og positive tanker.
    </p>
  </div>
  <div id="knapper">
    <Knap title="Læs mere" link="ommig.html" />
    <Knap title="Book tid" link="priserkontakt.html" />
  </div>
</section>

<style>
  section {
    background-color: var(--pesto300);
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Ändrade till 2 lika stora kolumner */
    grid-template-rows: auto auto auto; /* 3 rader: rubrik, knappar, text */
    padding: 5% 10%;
    column-gap: 40px;
    align-items: start; /* Justera element till toppen av deras grid-cell */
  }

  #heading {
    grid-column: 2; /* Placera rubriken i andra kolumnen */
    grid-row: 1; /* Placera rubriken i första raden */
  }

  img {
    width: 322px;
    height: auto;
    grid-column: 1; /* Placera bilden i första kolumnen */
    grid-row: 1 / 3; /* Låt bilden sträcka sig över första och andra raden */
  }

  #knapper {
    grid-column: 2; /* Placera knapparna i andra kolumnen */
    grid-row: 2; /* Placera knapparna i andra raden */
    margin-top: 25px;
    margin-bottom: 10px;
    display: flex;
    gap: 30px;
  }

  p {
    grid-column: 1 / -1; /* Låt texten sträcka sig över båda kolumnerna */
    grid-row: 3; /* Placera texten i tredje raden */
  }

  h3 {
    font-family: var(--secondaryfont);
  }

  /* Media query för skärmbreddar på max 800px */
  @media (max-width: 800px) {
    section {
      display: flex;
      flex-direction: column; /* Ändra layouten till vertikal */
      padding: 40px 20px;
      align-items: center;
    }

    img {
      width: 300px;
      height: auto;
      align-self: flex-start; /* Justera bildens position */
    }

    #heading,
    #knapper {
      align-self: flex-start; /* Justera rubrikens och knapparnas position */
      text-align: left; /* Justera textens position */
    }

    #knapper {
      margin-top: 10px;
      margin-bottom: 20px;
    }

    p {
      text-align: left; /* Justera textens position */
    }
  }

  /* Media query för skärmbreddar på max 450px */
  @media (max-width: 450px) {
    section {
      padding: 20px 10px; /* Justera padding för mindre skärmar */
    }

    img {
      width: 250px; /* Minska bildens bredd för mindre skärmar */
      height: auto;
    }
  }
</style>

