---

---

<section>
  <h2 class="behandling">Behandlingsområder</h2>
  <section id="oversigt">
    <article id="indhold">
      <a class="image_container" href="behandlinger.html">
        <img src="../img/talk.webp" alt=" billede af rapsmark" loading="lazy" />
        <h3>Walk and talk</h3>
      </a>
      <a class="image_container" href="behandlinger.html">
        <img
          src="../img/online.webp"
          alt="billede af computer udenfor"
          loading="lazy"
        />
        <h3>Online</h3>
      </a>
      <a class="image_container" href="behandlinger.html">
        <img
          src="../img/samtale.webp"
          alt="billede af rum med stole"
          loading="lazy"
        />
        <h3>Samtale</h3>
      </a>
    </article>
  </section>
</section>

<style>
  .behandling {
    text-align: center;
    margin: 100px 0 50px;
  }
  #oversigt {
    background: var(--pesto300);
    border-radius: 30px;
    height: 300px;
    overflow: visible;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 130px 25px 200px;
  }
  #indhold {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
  }
  .image_container {
    background-color: var(--flamepea300);
    border-radius: 30px;
    display: flex;
    justify-content: center;
    width: fit-content;
    padding: 30px;
    position: relative;
    transition: transform 0.3s;
  }
  .image_container:hover {
    transform: scale(1.05);
  }
  img {
    width: 240px;
    height: auto;
    aspect-ratio: 0.65;
  }
  h3 {
    position: absolute;
    background: var(--flamepea50);
    padding: 5px 10px;
    border-radius: 30px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    transition: transform 0.3s;
    transform-origin: center;
    cursor: pointer;
  }
  h3:hover {
    transform: translate(-50%, -50%) scale(1.05);
  }
  @media (max-width: 800px) {
    section {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 0;
    }
    #oversigt {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 1450px;
      width: 250px;
      margin: 0;
    }
    #indhold {
      width: auto;
      flex-direction: column;
      row-gap: 20px;
    }
    h3 {
      width: 80%;
      padding: 10px 15px;
    }
  }
  @media (max-width: 450px) {
    section {
      margin-top: 250px;
    }
    #indhold {
      display: flex;
      flex-direction: column;
      align-items: center;
      row-gap: 30px;
      width: auto;
    }
  }
</style>
