---

---

<h2 class="behandling">Behandlingsområder</h2>
<section>
  <div id="heading">
    <div class="image_container">
      <img src="../img/talk.webp" alt="" />
      <h3>Walk and talk</h3>
    </div>

    <div class="image_container">
      <img src="../img/online.webp" alt="" />
      <h3>Online</h3>
    </div>

    <div class="image_container">
      <img src="../img/samtale.webp" alt="" />
      <h3>Samtale</h3>
    </div>
  </div>

  <style>
    .behandling {
      text-align: center;
    }

    section {
      background: var(--pesto300);
      border-radius: 30px;
    }
    #heading {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
    }

    #test {
      background: green;
      height: 400px;
      z-index: 100;
      position: absolute;
      top: 0;
      left: 0;
    }
    .image_container {
      background-color: var(--flamepea300);
      border-radius: 30px;
      display: flex;
      justify-content: center;
      width: fit-content;
      padding: 40px 30px;
      position: relative;
    }

    h3 {
      position: absolute;
      background: var(--flamepea50);
      padding: 5px 10px;
      border-radius: 30px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      text-align: center;
      text-transform: uppercase;
    }

    @media (max-width: 800px) {
      section {
        display: flex;
        flex-direction: column;
      }
    }
    @media (max-width: 450px) {
      #heading {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 30px;
      }
    }
  </style>
</section>
