---

---

<section>
  <div class="cirkel">
    <h2 class="priser">Priser</h2>
  </div>
  <article class="priser_tabel">
    <h4 class="p_titel">Individuel samtale</h4>
    <p class="tid">60 minutter</p>
    <p class="pris">650 DKK</p>
    <hr />
    <h4 class="p_titel">Walk & talk</h4>
    <p class="tid">60 minutter</p>
    <p class="pris">650 DKK</p>
    <hr />
    <h4 class="p_titel">Online</h4>
    <p class="tid">60 minutter</p>
    <p class="pris">650 DKK</p>
    <hr />
    <h4 class="p_titel">Forløb</h4>
    <p class="tid">60 minutter x 8 samtaler</p>
    <p class="pris">5000 DKK</p>
    <hr />
    <h4 class="p_titel">Henvisning og studierabat</h4>
    <p class="tid">10% rabat fratrukket</p>
    <p class="pris">585 DKK</p>
  </article>
  <div class="boks">
    <p class="gebyr">
      Hvis du ikke kan overholde denne tidsfrist, kan der pålægges et gebyr
      svarende til den fulde konsultationspris
    </p>
  </div>
</section>

<style>
  .priser_tabel {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: var(--flamepea50);
    margin-left: 20%;
    margin-right: 20%;
    z-index: 1;
    position: relative;
    top: -50px; /* Adjust this value to move it closer to the circle */
  }
  .pris {
    grid-column: 2;
    text-align: right;
    font-family: "General Sans";
  }
  .p_titel {
    grid-column: 1;
  }
  .tid {
    grid-column: 1;
    font-family: "General Sans";
  }
  hr {
    grid-column: 1 / span 2;
    color: var(--pesto950);
  }
  .priser {
    text-align: center;
    background-color: #eeb283;
    border-radius: 50% 50% 0 0; /* Creates a half-circle */
    width: 160px;
    height: 100px; /* Half the height of the original circle */
    margin-top: 70px;
    padding-top: 20px;
  }
  .cirkel {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2%;
  }
  .boks {
    background-color: #eeb283;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 28%;
    margin-right: 28%;
    border-radius: 0px 0px 35px 35px;
    margin-bottom: 5%;
    padding: 1.1%;
    margin-bottom: 100px;
  }
  .gebyr {
    text-align: center;
  }

  /* Mobil */
  @media (max-width: 450px) {
    .boks {
      background-color: #eeb283;
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin-left: 16%;
      margin-right: 16%;
      border-radius: 0px 0px 35px 35px;
      margin-bottom: 5%;
      padding: 1.1%;
    }
    .gebyr {
      text-align: center;
      padding: 2%;
    }
    .priser {
      text-align: center;
      background-color: #eeb283;
      border-radius: 50% 50% 0 0;
      margin-top: 70px;
      padding-top: 20px;
      height: 70px;
    }
    .priser_tabel {
      margin-left: 10%;
      margin-right: 10%;
      top: -25px; /* Adjust this value as needed for smaller screens */
    }
    .cirkel {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: -12%;
    }
  }
  @media (max-width: 800px) {
    .cirkel {
    margin-top: -5%;
    }
  }
</style>
