---

---

<div class="scroll_container">
  <div class="scroll_indicator"></div>
</div>

<style>
  .scroll_container {
    position: sticky;
    z-index: 10;
    top: 0;
    width: 100%;
    height: 0.5rem;
    background-color: var(--cornflowerblue2);
  }

  .scroll_indicator {
    width: 0%;
    height: 100%;
    background-color: var(--flamepea700);
  }
</style>

<script>
  window.addEventListener("scroll", updateIndicator);

  function updateIndicator() {
    const scrolled =
      document.body.scrollTop || document.documentElement.scrollTop;
    const height =
      document.documentElement.scrollHeight -
      document.documentElement.clientHeight;
    const scrolledfactor = (scrolled / height) * 100;
    document.querySelector(".scroll_indicator").style.width =
      scrolledfactor + "%";
  }
</script>
