---
import Knap from "./Knap.astro";
---

<section>
  <div id="image_container">
    <img src="../img/havet.webp" alt=" billede af fynshoved" />
  </div>
  <article id="text_container">
    <div id="heading">
      <h2>Hvad kan jeg tilbyde dig?</h2>
      <h3 id="subtitel">En gratis uforpligtende første samtale</h3>
    </div>
    <p>
      Som terapeut kan jeg tilbyde dig en tryg og støttende terapiprocess, hvor
      du har mulighed for at udforske og arbejde med dine udfordringer på en
      dybdegående og meningsfuld måde. Uanset om du vælger almindelige samtaler
      på 60 minutter, online samtaler eller en unik walk&talk-oplevelse, vil jeg
      skræddersy min tilgang til dine individuelle behov og præferencer. Sammen
      vil vi udforske dine tanker, følelser og oplevelser med fokus på at skabe
      klarhed, forståelse og personlig vækst. Mit mål er at støtte dig på din
      rejse mod større trivsel, selvopdagelse og livsglæde.
    </p>
    <div id="button_container">
      <Knap title="Læs mere" link="ommig.html" />
    </div>
  </article>
</section>

<style>
  #image_container {
    height: 600px;
    overflow: hidden;
  }
  img {
    width: 100%;
    height: auto;
  }
  section {
    position: relative;
    /* display:inline-block; */
    margin-top: 100px;
  }

  #heading {
    text-align: center;
  }
  #text_container {
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(229, 137, 82, 0.7);
    position: absolute;
    padding: 50px;
    width: 70%;
    row-gap: 25px;
  }
  p {
    column-count: 2;
    column-gap: 40px;
    max-width: none;
  }

  #button_container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @media (max-width: 800px) {
    img {
      display: none;
    }
    #text_container {
      margin-top: 20%;
    }
    #heading {
      row-gap: 10px;
      display: flex;
      flex-direction: column;
    }
  }
  @media (max-width: 450px) {
    section {
      margin-top: 350px;
    }
    p {
      column-count: 1;
    }
    #text_container {
      margin-top: -5%;
    }
  }
</style>
