---
import "../general/style.css";
import Header from "../components/Header.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svclearg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
    <link
      href="https://api.fontshare.com/v2/css?f[]=general-sans@500,600,700&f[]=gambarino@400&display=swap"
      rel="stylesheet"
    />
  </head>
  <Header />
  <body>
    <slot />
  </body>


</html>
