:root {
  --primaryfont: "General Sans", sans-serif;
  --secondaryfont: "Gambarino", serif;
  --flamepea50: #f1e9d9;
  --flamepea300: #eeb283;
  --flamepea400: #e58952;
  --pesto300: #c2c294;
  --pesto950: #1f2013;
  --cornflowerblue: #9ac3f6;
  --cornflowerblue800: #2743a6;
}

* {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  width: 100%;
}
body {
  background-color: var(--flamepea50);
}
/* Font styles */
h1,
h2,
h3,
h4 {
  color: var(--pesto950);
  font-family: "General Sans", sans-serif;
  font-style: normal;
  line-height: normal;
}
h1 {
  font-size: 40px;
  font-weight: 600;
}
h2 {
  font-size: 30px;
  font-weight: 600;
}
h3 {
  font-size: 25px;
  font-weight: 500;
}
h4 {
  font-size: 20px;
  font-weight: 600;
}
p,
ul {
  color: var(--pesto950);
  font-family: "Gambarino", serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 45px;
  max-width: 65ch;
}
/* Mobile and Tablet styles */
@media (max-width: 800px) {
  h1 {
    font-size: 32px;
  }
  h2 {
    font-size: 25px;
  }
  h3 {
    font-size: 20px;
    font-weight: 500;
  }
  h4 {
    font-size: 16px;
    font-weight: 600;
  }
  p,
  ul {
    font-size: 16px;
    line-height: 50px;
  }
}
